
    <script type="text/javascript" src="javascripts/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init({ smoothScrolling: false, mobileDeceleration: 0.004 });
    </script>
  </body>

</html>


