<!DOCTYPE html>
<html class="no-skrollr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Pacific Geomatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' media="screen" />
  </head>
  <body>
    <div id="menu">
      <div id="logo"></div>
      <nav>
        <a href="/">home</a>
        <a href="/simulation">simulation</a>
        <a href="#">about</a>
        <a href="/contact">contact</a>
        <a href="#">nmso</a>
      </nav>
    </div>

