<!DOCTYPE html>
<html class="no-skrollr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Pacific Geomatics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' media="screen" />
  </head>
  <body>
    <div id="menu">
      <div id="logo" class="pull_left"></div>
      <nav class="pull_right">
        <a href="/">Home</a>
        <a href="/simulation">Simulation</a>
        <a href="/remote_sensing">Remote Sensing</a>
        <a href="/contact">Contact</a>
        <a href="/nmso">NMSO</a>
      </nav>
    </div>
  {{{body}}}
</body>
</html>
