<style>
  body {
    display:table;
  }

  .footer {
    display:table-row;
    height: 1px;
  }

</style>

<div class="nmso">

  <h3>Getting the most out of your data</h3>

  <img id="c2viewer" src="images/c2viewer.png" />

  <p>
    Traditionally satellite imagery ends up in your GIS department. With
    Pacific Geomatics C2Viewer give the power of the data to your whole
    business.

    <a href="https://c2viewer.pacgeo.com">C2Viewer</a> allows you to combine PacGeo imagery with your exisiting data
    to produce custom maps and make the available across your organization or the world.
  </p>


  <p>
    Advantages:
  </p>

  <ul>
    <li>Low cost.</li>
    <li>Secure login</li>
    <li>Custom maps</li>
    <li>Your imagery is always up-to-date</li>
    <li> Mobile friendly </li>
    <li>Run on premisis if desired</li>
  </ul>

  <h3>Data Hosting</h3>
  <p>
    Pacific Geomatics runs servers for both raster and vertor tiles. We
    can host your data and put up-to-date imagery at your teams fingertips.
  </p>

  <ul>
    <li>Low cost.</li>
    <li>Secure login</li>
    <li>Custom maps</li>
    <li>Your imagery is always up-to-date</li>
    <li> Mobile friendly </li>
  </ul>

  <p>
    Please call <a href="tel:604-535-7851">604-535-7851</a> or contact <a
      href="mailto:info@pacgeo.com">info@pacgeo.com</a> for more
    information.
  </p>

</div>

{{>footer}}
