<style>

  body {
    background-image:url(images/british_columbia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0em;
    display:table;
    width:100%;
  }

  .value_prop {
    text-align: center;
  }

  .belly_band {
    color: #fff;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin: 3em 0em;
  }


  .footer {
    display:table-row;
    height: 1px;
  }

</style>

<div class="belly_band">
  <h1 class="value_prop">
    Geographic data for better decisions</h1>
  <p>Pacific Geomatics creates the clean, accurate geographic datasets
    that drive cutting-edge applications and inform decision-makers.</p>
</div>
{{>footer}}
