<% include partials/header %>

<!--
We position the images fixed and therefore need to place them outside of #skrollr-body.
We will then use data-anchor-target to display the correct image matching the current section (.gap element).
-->

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#cloud_removal + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/Panama_Google.jpg)"
    data-anchor-target="#cloud_removal + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
  <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#after_removal"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">

  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/Panama_PacGeo.jpg)"
    data-anchor-target="#after_removal"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#kittens + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/chile.png)"
    data-anchor-target="#kittens + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#foo"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/chile_fixed.png)"
    data-anchor-target="#foo"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div id="skrollr-body">
  <div class="header" id="cloud_removal">
    <p>Cloud patching</p>
    <p>We match both the position and color of our imagery to a
      client’s pre-existing data. We layer multiple dates to patch
      clouds and shadows while maintaining the integrity of Nav
      aids in the imagery. We eliminate all artifacts that detract
      from the desired reality. Haze correction is applied as
      required and special attention is given to blending water
      surface features and water color. If required we provide
      custom masks for water, vegetation, and other materials. We
      blend color and resolution to provide a seamless transition
      between high and low resolution data sets.</p>
  </div>
  <div class="gap gap-100"></div>
  <div class="content-full" id="after_removal"> </div>
  <div class="content" id="kittens">
    <p>
      A vestibulum consectetur vestibulum suscipit leo lacinia elit
      dolor nibh praesent fames sed tellus vestibulum etiam velit.
      Velit venenatis in at bibendum parturient est a suspendisse a
      suspendisse vestibulum adipiscing consequat nunc laoreet
      scelerisque phasellus morbi cum pretium a eros nostra libero.
      Semper sem eu volutpat cubilia a tempor sociis gravida et nibh
      vehicula vitae a a eget nunc. Parturient ac sagittis elit ac
      ridiculus fringilla a phasellus non dictum dis a a sed orci nunc
      in parturient vehicula. Porta condimentum ullamcorper mi
      ullamcorper condimentum est laoreet facilisi lobortis sed in
      ridiculus pharetra est quis libero leo per nam sit vivamus
      sagittis quis a faucibus praesent enim.
    </p>

    <p>
      Magna faucibus potenti non suspendisse porta a phasellus euismod
      viverra viverra etiam phasellus penatibus nostra at aliquam
      egestas ac blandit ligula sodales. Lacinia parturient
      ullamcorper class a molestie ridiculus accumsan parturient magna
      mi cras sociosqu fringilla vestibulum vestibulum. Mollis urna
      libero adipiscing eu a parturient a a a venenatis a netus a
      ullamcorper condimentum massa.
    </p>
  </div>
  <div class="gap gap-100"> </div>
  <div id="foo" class="gap gap-100"> </div>
  <div class="content" id="done">

    <p>
      Consectetur laoreet lobortis porta ullamcorper ridiculus mattis
      elementum risus egestas vestibulum parturient vestibulum
      consectetur a laoreet condimentum aptent diam ridiculus a diam
      phasellus nibh torquent. Placerat dui dui congue augue purus
      vestibulum feugiat vestibulum quis consectetur vel vivamus
      vivamus vel a scelerisque ultrices. Habitant integer risus
      congue pulvinar in id donec nisl suspendisse dictum scelerisque
      class justo potenti ultricies congue at dui a nullam
      ullamcorper. Convallis ullamcorper lectus scelerisque suscipit
      eu aliquam a magna bibendum interdum lorem quam varius odio odio
      leo est pharetra vestibulum congue id scelerisque hac
      parturient. Vestibulum ac vel a senectus felis nisl enim duis
      scelerisque scelerisque mi egestas vulputate aliquet consectetur
      aliquam suspendisse luctus egestas nibh imperdiet ullamcorper
      ultricies vitae morbi. Mus luctus lobortis justo augue rutrum
      cum mus euismod mi adipiscing malesuada est a vel.
    </p>

  </div>
  <div class="footer">
    <p>© Copyright 2015 Pacific Geomatics Ltd.</p>
  </div>
</div>

<script type="text/javascript" src="javascripts/skrollr.min.js"></script>
<script type="text/javascript">
  skrollr.init({ smoothScrolling: false, mobileDeceleration: 0.004 });
</script>
<% include partials/footer %>
