<div class="nmso">
<h3>Satellite Imagery NMSO</h3>

<p>
Pacific Geomatics is the exclusive supplier of high resolution
DigitalGlobe satellite imagery to Canada’s Defence,
Intelligence, and Security sectors, under National Master Standing Offer
(NMSO) E60SQ-12001/003/SS.
</p>
<p>
Benefits of acquiring Commercial Satellite
Imagery (CSI) through the NMSO:
</p>
<ul>
  <li>Considerable cost savings to the Government of Canada.</li>
  <li>
  Ease of contracting ensures your order will not be delayed by paperwork: Contract up to $200K ($400K with PWGSC approval).
  </li>
  <li>
  Share throughout Govt. of Canada: Use on Command View, CSNI Google Earth, Command Post of the Future, & Falcon View.
  </li>
  <li>
  Uplifts available to enable sharing with other levels of Government, NATO, other Allies.
  </li>
  <li>
  Imagery can be refreshed based on your operational requirements.
  </li>
  <li>
  Fast turnaround time; archived imagery delivered within 72 hrs after order.
  </li>
</ul>

<p>Please call <a href="tel:604-535-7851">604-535-7851</a> or contact <a
href="mailto:nmso@pacgeo.com">nmso@pacgeo.com</a> for more
information.</p>
</div>

<div class="footer">
  <p>© Copyright 2015 Pacific Geomatics Ltd.</p>
</div>
