<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#cloud_removal + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/forestfire1.jpg)"
    data-anchor-target="#cloud_removal + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#after_removal"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">

  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/forestfire2.jpg)"
    data-anchor-target="#after_removal"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#after_removal + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/forestfire3.jpg)"
    data-anchor-target="#after_removal + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#kittens"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/forestfire4.jpg)"
    data-anchor-target="#kittens"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#foo"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/manitoba_dude.jpg)"
    data-anchor-target="#foo"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div id="skrollr-body">
  <div class="header" id="cloud_removal">
    <h3>Remote Sensing</h3>
    <p>
      Manitoba Conservation Wildfire Program is responsible for the
      detection and suppression of wild fires. The program manages all
      human and equipment resources needed for fighting wild fires in
      the province. Staff monitor weather patterns, lightning strikes,
      soil moisture and forest conditions to determine the probability
      and location of wild fires.

      Geographic data is key to coordinating the response to a wild
      fire across agencies and juristictions.

      During the 2015 Forest fire near Kosapechekanesik, the provice of
      Manitoba turned to Pacific Geomatics to source satellite imagery
      that could guide responders to actve burn sites.

      Working with its satellite imagery partners Pacific Geomatics
      assembled imagery of the effected area to create a dataset
      multi-spectrum data-set to enable analysis.

      In the visible spectrum imagery the burn sites were obsured by
      clouds. The near infra-red "false colour" image shows the flames
      better than the true colour image.

      But the real actionable information is revealed via the Short
      Wave Infra-Red imagery, which penetrates the smoke to reveal the
      active burn sites clearly.
    </p>
  </div>
  <div class="gap gap-100"></div>
  <div class="content-full" id="after_removal"> </div>
  <div class="gap gap-100"></div>
  <div class="content-full" id="kittens"></div>
  <div class="content" id="description">
    <p>
      Manitoba's Wildfire Program was able to distribute the data to
      the other agencies and jurisdictions involved in containing the
      wild fire.

      Equipment and other resources where quickly moved to the active
      burn areas.
    </p>

    <p>
      Consectetur laoreet lobortis porta ullamcorper ridiculus mattis
      elementum risus egestas vestibulum parturient vestibulum
      consectetur a laoreet condimentum aptent diam ridiculus a diam
      phasellus nibh torquent. Placerat dui dui congue augue purus
      vestibulum feugiat vestibulum quis consectetur vel vivamus
      vivamus vel a scelerisque ultrices. Habitant integer risus
      congue pulvinar in id donec nisl suspendisse dictum scelerisque
      class justo potenti ultricies congue at dui a nullam
      ullamcorper. Convallis ullamcorper lectus scelerisque suscipit
      eu aliquam a magna bibendum interdum lorem quam varius odio odio
      leo est pharetra vestibulum congue id scelerisque hac
      parturient. Vestibulum ac vel a senectus felis nisl enim duis
      scelerisque scelerisque mi egestas vulputate aliquet consectetur
      aliquam suspendisse luctus egestas nibh imperdiet ullamcorper
      ultricies vitae morbi. Mus luctus lobortis justo augue rutrum
      cum mus euismod mi adipiscing malesuada est a vel.
    </p>

  </div>
  <div id="foo" class="gap gap-100"> </div>
  <div class="content" id="done">

    <p>
      Throughout the response, Pacific Geomatics provided updated
      imagery and analysis that allowed responders on the ground to
      adjust their tactics to the changing situation.
    </p>

  </div>
  <div class="footer">
    <p>© Copyright 2015 Pacific Geomatics Ltd.</p>
  </div>
</div>

<script type="text/javascript" src="javascripts/skrollr.min.js"></script>
<script type="text/javascript">
  skrollr.init({ smoothScrolling: false, mobileDeceleration: 0.004 });
</script>
