<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#simulation_intro + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">
  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/griffen.jpg)"
    data-anchor-target="#simulation_intro + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
  <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>


<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#pacgeo_process + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">

  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/singapore_before.png)"
    data-anchor-target="#pacgeo_process + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#singapore_after + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">

  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/singapore_after.png)"
    data-anchor-target="#singapore_after + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div
  class="parallax-image-wrapper parallax-image-wrapper-100"
  data-anchor-target="#runway_before + .gap"
  data-bottom-top="transform:translate3d(0px, 200%, 0px)"
  data-top-bottom="transform:translate3d(0px, 0%, 0px)">

  <div
    class="parallax-image parallax-image-100"
    style="background-image:url(images/runway_before.gif)"
    data-anchor-target="#runway_before + .gap"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);"
    data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
</div>

<div id="skrollr-body">
  <div class="header" id="simulation_intro">
    <h3>Re-Creating Reality with Satellite Imagery</h3>
    <p>
      Pacific Geomatics has been producing high quality, visually
      consistent imagery databases for simulation
      clients for over 10 years using specialized techniques developed
      specifically for the VIS/SIM industry.

      High accuracy assets for simulation are critical to create the realisim required for the
      actions practiced in the simulator to translate to real life
      performance.
    </p>

  </div>
  <div class="gap gap-100"> </div>
  <div class="content" id="pacgeo_process">
    <p>
      Pacific Geomatics has more than a decade of experience
      providing training imagery and elevation datasets to
      commercial customers, defence contractors, and direct
      government clients. Our technical staff are highly trained
      remote sensing specialists who are expert in the nuances of
      image processing that are key to a quality training data set.
      We begin by very careful searches of available imagery
      and elevation data. We partner with all of the major satellite
      operators and optimise our searches for the best available
      imagery to complete a specific project. For very large areas,
      we often combine 50cm imagery from multiple satellites to
      create the best seamless image dataset possible.
    </p>

  </div>
  <div class="gap gap-100"></div>
  <div id="singapore_before"></div>
  <div id="singapore_after"></div>
  <div class="gap gap-100"></div>
  <div class="content">
    <p>
      We match both the position and color of our imagery to a
      client’s pre-existing data. We layer multiple dates to patch
      clouds and shadows while maintaining the integrity of Nav
      aids in the imagery. We eliminate all artifacts that detract
      from the desired reality. Haze correction is applied as
      required and special attention is given to blending water
      surface features and water color. If required we provide
      custom masks for water, vegetation, and other materials. We
      blend color and resolution to provide a seamless transition
      between high and low resolution data sets.
    </p>
    <h3>Positioning</h3>
    <p>

      As a final step we correctly position all elements in the dataset.
      Corrections of this sort are small, but critical to ensure that
      reflexes trained in the simulator are not subtly off leading to
      real world accidents.

      Our orthorectification quality control ensures accuracy withing 1
      pixel of the ground control provided by the clients.

      Below is the before and after of the processing moving the point
      closer to the runway centerline as per client specifications.
    </p>

  </div>
  <div id="runway_before"></div>
  <div class="gap gap-100"></div>
  <div class="content" id="done">

    <p>
The result is a correctly ortho-rectified dataset suitable for the high-fidelity training simulators.
    </p>

  </div>
  <div class="footer">
    <p>© Copyright 2015 Pacific Geomatics Ltd.</p>
  </div>
</div>

<script type="text/javascript" src="javascripts/skrollr.min.js"></script>
<script type="text/javascript">
  skrollr.init({ smoothScrolling: false, mobileDeceleration: 0.004 });
</script>
