@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  padding:0;
  margin:0;
}

html, body {
  height:100%;
}

.skrollr-desktop body {
  height:100% !important;
}

body {
  font-size: 1.4em;
  color: #545454;
  font-family: 'robotoregular', sans-serif;
}

p {
  margin: 1em 0em;
  max-width: 99%;
}

.parallax-image-wrapper {
  position:fixed;
  left:0;
  width:100%;
  overflow:hidden;
}

.parallax-image-wrapper-50 {
  height:50%;
  top:-50%;
}

.parallax-image-wrapper-100 {
  height:100%;
  top:-100%;
}

.parallax-image {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.parallax-image-50 {
  height:200%;
  top:-50%;
}

.parallax-image-100 {
  height:100%;
  top:0;
}

.parallax-image.skrollable-between {
  display:block;
}

.no-skrollr .parallax-image-wrapper {
  display:none !important;
}

#skrollr-body {
  height:100%;
  overflow:visible;
  position:relative;
}

.gap {
  background:transparent center no-repeat;
  background-size:cover;
}

.skrollr .gap {
  background:transparent !important;
}

.gap-50 {
  height:50%;
}

.gap-100 {
  height:100%;
}

.header, .content {
  background:#fff;
  padding:1em;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.content-full {
  height:100%;
}

#menu {
  position: fixed;
  background-color: transparent;
  border-top: #0973ba 0.3em solid;
  width: 100%;
  z-index: 9999;
  top: 0px;
}

#logo {
  display: none;
  visibility: hidden;
}

nav > a {
  display: inline-block;
  color: #0973ba;
  font-size: 0.7em;
  padding: 0.2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}


.footer {
  font-size: 0.6em;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #ededed;
  text-align: center;
}

#skrollr-body {
  margin-top:3em;
}

.error_message {
  margin-top:4em;
  padding:2em;
}


#map {
  height: 80vh;
}

.contact {
  margin-top: 5em;
  height: 100%;
  font-size: 0.8em;
}

.contact_details {
  vertical-align:bottom;
  text-align: center;
}

.iron_icon {
  fill: #0973ba;
  display: inline;
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

a {
  color: #0973ba;
  text-decoration: none;
}

h3 {
  color: #0973ba;
  margin: 1em 0em;

}

@media screen and (min-width: 40.5em) {

  h3 {
    margin-left: 5%;
  }

  p {
    margin: 1em 5%;
    max-width: 90%;
  }

  #logo {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 3em;
    width: 8em;
    margin: 0em 2em;
    display: inline-block;
    visibility: visible;
    float: left;
  }

  nav > a {
    display: inline-block;
    float: left;
    width: 14%;
    padding-top:1.2em;
    font-size: 1em;
    color: #0973ba;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.2s;
  }

  nav > a:hover {
    color: #0973ba;
    padding-bottom:0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top: 4px solid #0973ba;
    font-weight: normal;
    text-decoration: none;
  }

}
