@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height:100%;
}

.skrollr-desktop body {
  height:100% !important;
}

#close {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

#small_nav a {
  color: #fff;
}

#small_nav li {
  list-style: none;
  margin
}

#small_nav ul {
  margin: 0;
}

#small_menu {
  display: table-row;
}

#small_nav {
  top: 0px;
  left: 0px;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  height: 100%;
  background-color: #0973ba;
  position: fixed;
  padding: 1em;
}

.inactive {
  transform: translateX(-100%);
}

.active {
  transform: translateX(0px);
}

.container {
  display: table;
}

body {
  margin: 0;
  font-size: 1.4em;
  color: #989898;
  font-family: 'robotoregular', sans-serif;
}


p, ul {
  margin: 1em 0em;
  max-width: 99%;
}

.parallax-image-wrapper {
  position:fixed;
  left:0;
  width:100%;
  overflow:hidden;
}

.parallax-image-wrapper-50 {
  height:50%;
  top:-50%;
}

.parallax-image-wrapper-100 {
  height:100%;
  top:-100%;
}

.parallax-image {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.parallax-image-50 {
  height:200%;
  top:-50%;
}

.parallax-image-100 {
  height:100%;
  top:0;
}

.parallax-image.skrollable-between {
  display:block;
}

.no-skrollr .parallax-image-wrapper {
  display:none !important;
}

#skrollr-body {
  height:100%;
  overflow:visible;
  position:relative;
}

.gap {
  background:transparent center no-repeat;
  background-size:cover;
}

.skrollr .gap {
  background:transparent !important;
}

.gap-50 {
  height:50%;
}

.gap-100 {
  height:100%;
}

.header, .content {
  background:#fff;
  padding:1em;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.content-full {
  height:100%;
}

#menu {
  display: none;
}

header {
  position: fixed;
  background-color: #fff;
  border-top: #0973ba 0.3em solid;
  width: 100%;
  z-index: 9999;
  top: 0px;
}

#logo {
  vertical-align: middle;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 2em;
  width: 6em;
  display: inline-block;
}

nav > a {
  display: inline-block;
  color: #0973ba;
  font-size: 0.7em;
  padding: 0.2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}


.footer {
  font-size: 0.6em;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #ededed;
  text-align: center;
}

#skrollr-body {
  margin-top:3em;
}

.error_message {
  margin-top:4em;
  padding:2em;
}

#map {
  height: 80vh;
}

.contact {
  margin-top: 5em;
  height: 100%;
  font-size: 0.8em;
}

.contact_details {
  vertical-align:bottom;
  text-align: center;
}

.iron_icon {
  fill: #0973ba;
  display: inline;
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

a {
  color: #0973ba;
  text-decoration: none;
}

h3 {
  color: #0973ba;
  margin: 1em 0em;

}

.nmso {
  margin: 3em 1em 3em 1em;
}

#burger {
  vertical-align: middle;
  font-size: 2em;
  padding: 0em 1em 0em 1em;
}

@media screen and (min-width: 40.5em) {

  .nmso {
    margin: 5em 1em;
    max-width: 90%;
    margin-top: 5em;
  }

  h3 {
    margin-left: 5%;
  }

  p, ul {
    margin: 1em 5%;
    max-width: 90%;
  }

  #logo {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 3em;
    width: 8em;
    margin: 0em 2em;
    display: inline-block;
    visibility: visible;
    float: left;
  }

  nav {
    width:40%;
  }


  #menu {
    display: block;
    visiblity: visible;
    text-align: right;
  }

  #small_menu {
    display:none;
  }

  nav > a {
    display: inline-block;
    padding-top:1.5em 0.5em 0em 0em;
    font-size: 1em;
    color: #0973ba;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }

  nav > a:hover {
    margin-top:-0.25em;
    border-top: 0.25em solid #b5b5b6;
    text-decoration: none;
  }

  .pull_left {
    margin-left: 2em;
    float: left;
  }

  .pull_right {
    margin-right: 2em;
    float: right;
  }

}
